<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm66KmjsQaPR8641z5rdbNfWdi_LCeJiw</string>
	<key>GCM_SENDER_ID</key>
	<string>735986823166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chopas.jungbonet.myyouapp</string>
	<key>PROJECT_ID</key>
	<string>myyou-81740</string>
	<key>STORAGE_BUCKET</key>
	<string>myyou-81740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735986823166:ios:706b9cd533cf8d60059aaf</string>
</dict>
</plist>